force-app/main/default/flows/Summarize_And_Classify_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Case_Summary_Output</name>
        <label>Parse Case Summary Output</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>CaseSummarizationTemplateParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case_With_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryJsonString</name>
            <value>
                <elementReference>Summarize_Classify_Case_LLM.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseSummarizationTemplateParser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Summarize_Classify_Case_LLM</name>
        <label>Summarize Classify Case LLM</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Summarize_And_Classify_Cases</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Case_Summary_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:myCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summarize_And_Classify_Cases</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Reason</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Reason})), {!Parse_Case_Summary_Output.reason}, TEXT({!$Record.Reason}))</expression>
    </formulas>
    <formulas>
        <description>Parse_Case_Summary_Output</description>
        <name>Summary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Quick_Summary__c}), {!Parse_Case_Summary_Output.summary}, {!$Record.Quick_Summary__c})</expression>
    </formulas>
    <formulas>
        <name>Type</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Type})), {!Parse_Case_Summary_Output.caseType}, TEXT({!$Record.Type}))</expression>
    </formulas>
    <interviewLabel>Summarize And Classify Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summarize And Classify Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_With_Summary</name>
        <label>Update Case With Summary</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Quick_Summary__c</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Summarize_Classify_Case_LLM</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND (4 OR 5)</filterLogic>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Quick_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
